name: .Net

on:
  pull_request:
  push:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    permissions:
      contents: read
      actions: read
      checks: write
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.x
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore
      - name: Test
        run: dotnet test --no-build --verbosity normal --report-trx
      - name: Upload Test Results
        uses: actions/upload-artifact@v4
        if: success() || failure()
        with:
          name: test-results
          path: "**/*.trx"
      - name: Generate Report
        uses: dorny/test-reporter@v1
        if: ${{ (success() || failure()) && github.repository == 'roryclaasen/advent' }}
        with:
          name: Advent of Code Tests
          path: "**/*.trx"
          reporter: dotnet-trx
          list-tests: 'failed'

  build:
    name: Build ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
        - os: ubuntu-latest
          rid: linux-x64
        - os: windows-latest
          rid: win-x64
        - os: macos-latest
          rid: osx-x64
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.x
      - name: Build
        run: dotnet publish ./tools/AdventOfCode.Cli/AdventOfCode.Cli.csproj -c Release -r ${{ matrix.rid }} -o ./artifacts/bin
      - name: Create Release Artifact
        uses: actions/upload-artifact@v4
        with:
          name: advent-${{ matrix.rid }}
          path: ./artifacts/bin
